<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Specialist_Entry_Servlet</servlet-name>
        <servlet-class>com.hospital.Specialist_Entry_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassServlet</servlet-name>
        <url-pattern>/ResetPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Specialist_Entry_Servlet</servlet-name>
        <url-pattern>/Specialist_Entry_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Doctor_Info_Servlet</servlet-name>
        <servlet-class>com.hospital.Doctor_Info_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nurse_Info_Servlet</servlet-name>
        <servlet-class>com.hospital.Nurse_Info_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medicine_Entry_Servlet</servlet-name>
        <servlet-class>com.hospital.Medicine_Entry_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Info_Servlet</servlet-name>
        <servlet-class>com.hospital.Patient_Info_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Investigation_Servlet</servlet-name>
        <servlet-class>com.hospital.Patient_Investigation_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_Servlet</servlet-name>
        <servlet-class>com.hospital.Prescription_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff_Account_Servlet</servlet-name>
        <servlet-class>com.hospital.Staff_Account_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPageServlet</servlet-name>
        <servlet-class>com.hospital.UserPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ward_Info_Servlet</servlet-name>
        <servlet-class>com.hospital.Ward_Info_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Care_Servlet</servlet-name>
        <servlet-class>com.hospital.Patient_Care_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPatAccServlet</servlet-name>
        <servlet-class>com.hospital.ViewPatAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Prescription_Servlet</servlet-name>
        <servlet-class>com.hospital.View_Prescription_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassServlet</servlet-name>
        <servlet-class>com.hospital.ResetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>com.hospital.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Doctor_Info_Servlet</servlet-name>
        <url-pattern>/Doctor_Info_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nurse_Info_Servlet</servlet-name>
        <url-pattern>/Nurse_Info_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medicine_Entry_Servlet</servlet-name>
        <url-pattern>/Medicine_Entry_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Info_Servlet</servlet-name>
        <url-pattern>/Patient_Info_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Investigation_Servlet</servlet-name>
        <url-pattern>/Patient_Investigation_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_Servlet</servlet-name>
        <url-pattern>/Prescription_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff_Account_Servlet</servlet-name>
        <url-pattern>/Staff_Account_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPageServlet</servlet-name>
        <url-pattern>/UserPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ward_Info_Servlet</servlet-name>
        <url-pattern>/Ward_Info_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Care_Servlet</servlet-name>
        <url-pattern>/Patient_Care_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPatAccServlet</servlet-name>
        <url-pattern>/ViewPatAccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Prescription_Servlet</servlet-name>
        <url-pattern>/View_Prescription_Servlet</url-pattern>
    </servlet-mapping>
</web-app>
